::after,::before,*{
    box-sizing: border-box;
    color:#2f4676;
    border-width: 1px solid;
    background:#ffffff;
    border-color:#a6a6a6;
    transition: border-color 0.2s, box-shadow 0.2s; 
    border-radius: 5px;
}

.btn{
    border-radius: 6px;
    background: #fb792b;
    color: #fff;
    border-color: #fb792b;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
    